.MuiInputBase-input {
    height: 7px!important;

    }


@media (min-width: 768px) {
    .MuiInputBase-root{
        width: 100%!important;
    }
}

@media (max-width: 767px) {
    .MuiInputBase-root{
        width: 93vw!important;
    }
}