.App {
  display: flex;
  justify-content: center;
}

@media (min-width: 780px) {
  .App{
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (min-width: 980px) {
  .container-fluid{
    max-width: 800px!important;
  }
}


